/* Подключение шрифта Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


body {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    border-spacing: 0;
    background-color:rgba(222, 226, 230, 1) ;

}
/* Стили для заголовка страницы */
/* Стили для меню навигации */
nav {
  background-color: #212529; /* задаем цвет фона */
  overflow: hidden;
  font-family: Inter;
  display: flex; /* добавляем стиль для флекс-контейнера */
  justify-content: center; /* выравниваем по центру по горизонтали */
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex; /* добавляем стиль для флекс-контейнера */
  justify-content: center; /* выравниваем по центру по горизонтали */
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav li a:hover {
  background-color: rgba(222, 226, 230, 1);
  color: black;
}
nav li a.active {
  background-color: #555; /* задаем цвет фона для активной ссылки */
  color: white;
}


/* Стили для основного контента страницы */
.banner-container {
    width: 100%;
    display: flex;
    overflow: auto;

    align-items: center;
    flex-direction: column;
  }
  .banner-banner {
    width: 100%;
    height: 750px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
    background-color: rgba(222, 226, 230, 1);
  }
  .banner-image {
    top: 141px;
    left: 1000px;
    width: 340px;
    height: 369px;
    display: flex;
    position: relative;
    align-items: flex-start;
  }

  .banner-galina {
    border-radius: 30px;
    top: 0;
    left: 0;
    position: absolute;
    width: 130%;
    height: 150%;
    transform: translateY(20px);
    animation: fadeInUp 1.5s forwards;
    animation: float 3s ease-in-out infinite;
  }

 .logocollege{
    margin-top: 100px;
    margin-right: 300px;
    width: 30%;
    height: 30%;
}

.zag{

  color: rgba(33, 37, 41, 1);
    width: auto;
    font-size: 64px;
    font-style: Bold;
    font-family: Inter;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1.5s forwards;
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
p{
  font-family: Inter;
  color:#808080;
  font-size: 24px;
  font-style: normal;
  font-weight: 100;
}
.about-container {
  width: 100%;
  display: flex;
  overflow: auto;

  align-items: center;
  flex-direction: column;
}
.about-about {
  width: 100%;
  height: 300px;
  display: flex;
  position: relative;
  flex-shrink: 1;
  background-color: rgba(248, 249, 250, 1);
  justify-content: center;

}
.about-group37 {
  top: 93px;
  left: 280px;
  width: 878px;
  height: 163.62359619140625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
h2.about-text
{
  color: rgba(33, 37, 41, 1);
  width: 189px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text {
  color: rgba(33, 37, 41, 1);
  width: 189px;
  height: auto;
  position: absolute;
  font-size: 64px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  animation: fadeInUp 1.5s forwards;
}


.about
{
    align-items: flex-start;
    background-color: rgba(248, 249, 250, 1);
    display: flex;
    gap: 81px;
    height: 200px;
}
.about-me
{
    letter-spacing: 0;
    line-height: normal;
    color: rgba(33, 37, 41, 1);
  font-size: 64px;
  font-style: Semi Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  margin-left: 250px;
  animation: fadeInUp 1.5s forwards;

}
.text
{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.smalltext
{
    color: rgba(33, 37, 41, 1);
  width: 600px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: center;
  margin-top: 50px;
  margin-left: 10%;
  font-family: Inter;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  animation: fadeInUp 1.5s forwards;

}
.circle {
  position: absolute;
  width: 350px;
  height: 350px;
  background-color: white; /* Цвет кружка */
  border-radius: 50%;
  margin-top: 350px;
  margin-left: -50px;
  animation: float 2s ease-in-out infinite;
}
.circle1 {
  position: absolute;
  width: 350px;
  height: 350px;
  background-color: white; /* Цвет кружка */
  border-radius: 50%;
  margin-top: 150px;
  margin-left: 450px;
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}